<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_app.domain.users.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO users (user_id, risk_level, risk_type, description, vulnerabilities, created_at)
        VALUES (#{userId}, #{riskLevel}, #{riskType}, #{description}, #{vulnerabilities}, NOW())
        ON DUPLICATE KEY UPDATE
            risk_level = VALUES(risk_level),
            risk_type = VALUES(risk_type),
            description = VALUES(description),
            vulnerabilities = VALUES(vulnerabilities)
    </insert>

    <select id="getUserById" resultType="com.example.demo_app.domain.users.model.User">
        SELECT user_id, risk_level, risk_type, description, vulnerabilities
        FROM users
        WHERE user_id = #{userId}
    </select>

</mapper>
