# --- Application Secrets ---
DB_USERNAME=root
DB_PASSWORD=root1234

# --- Container Secrets ---
MYSQL_ROOT_PASSWORD=root1234
MYSQL_ROOT_HOST=%
MYSQL_DATABASE=

# --- Upstage API Secrets ---
UPSTAGE_API_KEY=